@use '../../../color-variables.scss' as colors;
main{
  display: flex;
  flex-direction: column;
  gap: 84px;
}
.main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;

  span {
    font-size: 20px;
    font-weight: 700;
    color: colors.$secondary-text;
  }
  h1 {
    font-size: 72px;
    font-weight: 900;
    color: colors.$primary-text;
  }
}

.benefict-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;

  .benefict-data {
    border-bottom: 10px solid colors.$secondary-color;
    padding-bottom: 40px;
    h2 {
      font-size: 60px;
      font-weight: 600;
      font-family: 'Roboto';
      color: colors.$primary-text;
    }
  }
  p {
    font-size: 40px;
    font-style: italic;
    font-weight: 300;
    b {
  font-size: 72px;
  font-style: normal;
  background: -webkit-linear-gradient(180deg, colors.$light-primary-color, colors.$secondary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  }
}

.cta-section{
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 72px;
    font-weight: 900;
    color: black;
    text-align: center;
  }
}

.quality-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  img{
    width: 609px;
    height: 588px;
  }
  h3{
    font-weight: 700;
    font-size: 32px;
    color: colors.$primary-text;
    margin-bottom: 10px;
  }
  p{
    color: colors.$secondary-text;
  }
}
@media (min-width: 1080px) {
  .main-section {
    flex-direction: row;
  }
  .benefict-section {
    flex-direction: row;
  }
  .quality-section{
  flex-direction: row;
}
}
